.background {
  background-image: url("../images/mountain\ range.jpg");
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
}
.header-text {
  position: absolute;
  text-align: center;
  width: 100vw;
  color: #fff;
}

.shifttext {
  font-size: 30em;
  font-weight: 400;
  background-size: 100% 100%;
  background-image: inherit;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.moretext {
  position: absolute;
  letter-spacing: 2px;
  top: 70vh;
  width: 60%;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.buylink{
  position: absolute;
  left:30px;
  bottom: -5em;
  z-index: 2;
  text-align: center;
}